* {
  font-family: "Aldrich", sans-serif;
}
:root {
  /*Color Scheme */
  --pink-red: #ef476f;
  --mellow-yellow: #ffd166;
  --teal: #06d6a0;
  --light-blue: #118ab2;
  --dark: #073b4c;
}

header {
  height: 100px;
  background-color: var(--dark);
}

header h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  color: var(--mellow-yellow);
}

#search {
  margin-left: 10px;
}

#chart {
  height: 440px;
}

footer {
  background-color: var(--dark);
  height: 100px;
}

footer h2 {
  color: var(--mellow-yellow);
  text-align: center;
  padding: 25px;
}

.card-img-top {
  margin: auto;
  padding-top: 10px;
  box-shadow: 3px 3px;
}

.card {
  background-color: #073b4c;
  color: white;
}

.btn {
  display: inline-block;
  text-align: center;
}
